<h2>{{ 'labels.companies'|trans }} ({{ companies|length }})</h2>

{{ filterBox|raw }}

<ul>
{% for company in companies %}
  <li>
    <a href="{{ company.link }}">{{ company.name }}</a> <small>({{ 'labels.num-of-games'|trans({'%count%': company.numGames}) }})</small>
  </li>
{% endfor %}
</ul>
