<h2>{{ game.name }}</h2>
<game>
  {{ 'labels.company'|trans }}: <a href="{{ links.company }}">{{ company.name }}</a>
</game>

{{ scores|raw }}

<description>
  {{ game.description }}
</description>

{{ gameLinks|raw }}
