<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>STG Hall of Records</title>
  </head>
  <body>
    <h1>STG Hall of Records</h1>
    <div>
      <ul>
        <li><a href="{{ links.companies }}">{{ 'labels.companies'|trans }}</a></li>
        <li><a href="{{ links.games }}">{{ 'labels.games'|trans }}</a></li>
        <li><a href="{{ links.players }}">{{ 'labels.players'|trans }}</a></li>
      </ul>
      <ul>
        <li><a href="{{ links.self|replace({ ("/#{locale}/"): '/en/' }) }}">English</a></li>
        <li><a href="{{ links.self|replace({ ("/#{locale}/"): '/ja/' }) }}">日本語</a></li>
      </ul>
    </div>
    <div>
      {{ content|raw }}
    </div>
  </body>
</html>
