<h3>{{ 'labels.scores'|trans }} ({{ scores|length }})</h3>

<table class="wikitable">
  <tr>
    <th>{{ 'labels.game'|trans }}</th>
    <th>{{ 'labels.score'|trans }}</th>
  </tr>
{% for score in scores %}
  <tr>
    <td><a href="{{ score.game.link }}">{{ score.game.name }}</a></td>
    <td>{{ score.value }}</td>
  </tr>
{% endfor %}
</table>
