<h2>{{ 'labels.players'|trans }} ({{ players|length }})</h2>

{{ filterBox|raw }}

<ul>
{% for player in players %}
  <li>
    <a href="{{ player.link }}">{{ player.name }}</a> <small>({{ 'labels.num-of-scores'|trans({'%count%': player.numScores}) }})</small>
  </li>
{% endfor %}
</ul>
